{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ post.detail }}
{% endblock%}

{% block css_files %}
    <link rel='stylesheet' href={% static 'my_blog/post-detail.css' %}/>
    
{% endblock %}

{% block content %}
    <section id='summary'>
        <h2>{{ post.title }}</h2>
        <article>
            <img src="{% static "my_blog/images/"|add:post.image %}" alt={{ post.title }}>
            {% comment %} <img src="{% static "my_blog/images/" post.image %}" alt={{ post.title }}/> {% endcomment %}
            <address>By {{ post.author }}</address>
            <div>
                last updated on <time> {{ post.date|date:"d M Y" }}</time>
            </div>
        </article>
    </section>
    
    <main>
        {{ post.content }}
    </main>

{% endblock %}

